<h1 *ngIf="user">Edit {{ user.first_name }} {{ user.last_name }}</h1>

<form *ngIf="user" (ngSubmit)="onSubmit()" #createUser="ngForm">

  <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>

  <input [(ngModel)]="user._id" name="_id" id="_id" type="hidden">

  <mat-form-field>
    <label for="username">Username</label>
    <input matInput [(ngModel)]="user.username" name="username" id="username" type="text">
    <div class="error" *ngIf="errors.username">{{ errors.username.message }}</div>
  </mat-form-field>

  <mat-form-field>
    <label for="email">Email</label>
    <input matInput [(ngModel)]="user.email" name="email" id="email" type="text">
    <div  class="error" *ngIf="errors.email">{{ errors.email.message }}</div>
  </mat-form-field>


  <mat-form-field>
    <label for="first_name">First name</label>
    <input matInput [(ngModel)]="user.first_name" name="first_name" id="first_name" type="text">
  </mat-form-field>

  <mat-form-field>
    <label for="last_name">Last Name</label>
    <input matInput [(ngModel)]="user.last_name" name="last_name" id="last_name" type="text">
  </mat-form-field>

  <button type="submit">Submit</button>

</form>
